# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

Component/
Component1/
Component3/

client/.env
client/.env.local
client/.env.development.local
client/.env.test.local
client/env.production.local
client/.env.development
client/.env.production
client/.env.*

node_modules/

build/

logs/
temp/