
.loadingContainer{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 8px;
}
.loadingSpan{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    /* animation: width 3s infinite,  height 3s infinite; */
    transform-origin: center center;
}
/* @keyframes pulseWidth{
    0% {
       transform: scale(2, 2);
    }
    50% {
        transform: scale(1, 1);
    }
    100% {
        transform: scale(2, 2);
    }
} */
.loadingSpan.yes{
    animation: pulseWidth 3s ease-in-out
}
.loadingSpan:nth-child(1){
 animation-delay: 0s;
}
.loadingSpan:nth-child(2){
    animation-delay: 0.1s;
}
.loadingSpan:nth-child(3){
    animation-delay: 0.2s;
}
.loadingSpan:nth-child(4){
    animation-delay: 0.3s;
}
.loadingSpan:nth-child(5){
    animation-delay: 0.4s;   
}

.main-wrapper{
    display: flex;
    flex-direction: row;
    position: relative;
    gap: 6px;
    
}
.wrapper{
    position: relative;
    width: 6px;
    height: 40px;
    background-color: blue;
    animation: bounceHeight 1.2s ease-in-out infinite;
    transform-origin: center;
}

@keyframes bounceHeight{
    0%, 100% {
        transform: scaleY(0.25);
    }
    50% {
        transform: scaleY(1);
    }
}



/* @keyframes bounceHeight{
    0% {
        
    }
    50% {
        height: 40px;
    }
    100% {
        height: 10px;
    }
} */