
.passwordClass{
    width: 0%;
    position: absolute;
    height: 100%;
    top: 50%;
    left: 50%;
    background-color: aquamarine;
    transform: translate(-50%, -50%);
    overflow: hidden;
    transition: width 2s ease;
    z-index: 200;
}
.password-view-class.true{
  width: 100%;
  height: 94%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loadingClass.true{
  width: 90%;
  height: 90%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.passwordClass.open{
  width: 100%;
}
 .containerForgot{
    width: 100%;
  /* transform: translate(0%); */
   position: absolute;
  height: 100%;
  background-color: white;
  opacity: 1;
   top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
  overflow: hidden;
  transition: transform 2s ease;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.formGroup span{
  transform: translate(0%, 0%)
}
.containerForgot .mainGroup{
    width: 100%;
  height: 94%;
  position: absolute;
  top: 40%;
  left: 50%; 
  transform: translate(-50%, -40%);
  background-color: white;
  overflow: hidden;
 /* transition: width s ease; */
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 120px;
}
.containerForgot .iconClass{
    position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  left: 90%;
  top: 2.5%;
  cursor: pointer;
  color: red;
  opacity: 0.8;
  padding: 2px;
  margin-top: 8px;
  
}
/* .containerForgot .iconClass:hover{
    background-color: rgba(0, 0, 0, 0.2);
  } */
   .containerForgot .formClass{
    width: 86%;
    height: 40%;
  margin-top: 20px;
  position: absolute;
   overflow: hidden;
   top: 20%;
  left: 50%; 
  transform: translate(-50%, -50%);
  transition: width 2s ease; 
  padding: 0px 8px;
   }
   .containerForgot .formClass .formGroup{
    display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 20px;
  width: 94%;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -80%);
   overflow: hidden;
  transition: width 2s ease;
   }
   /* .containerForgot.yes{
    width: 0%;
   } */
   .containerForgot .formGroup .icon{
    position: absolute;
    top: 57%;
    left: 90%;
    color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
  }
  .containerForgot label{
    margin-bottom: 8px;
  }
  .containerForgot input{
    padding: 10px;
    border-radius: 4px;
    outline: none;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.4);
    color: rgba(0, 0, 0, 0.7);
    /* width: 96%; */
    
  }
  .containerForgot .submitClass{
    width: 89%;
    padding: 8px;
    background-color: blue;
    color: white;
    margin-top: 25px;
    border-radius: 6px;
    position: absolute;
    top: 80%;
    left: 50%; 
   transform: translate(-50%, -80%);
    border: 1px solid white;
  
  }
  .containerForgot .title{
    width: 60%;
    font-size: 24px;
    font-weight: 600;
    color: blue;
    padding: 12px;
  overflow: hidden;
  position: absolute;
  top: 5%;
  left: 50%; 
  transform: translate(-50%, -50%);
  white-space: nowrap;
  text-overflow: clip;
  }