
.passwordsNew{
    width: 340px;
    height: 600px;
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
  
    /* padding-top: 12px; */
}
.passwordsNew .password-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color:  white;
    height: 50px;
    position: absolute;
    top: 0%;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    padding: 8px;
    
}
.passwordsNew .password-wrapper::-webkit-scrollbar{
    display: none;
}
.passwordsNew .password-forms{
    display: flex;
    position: relative;
    flex-direction: column;
    /* border: 1px solid rgba(0, 0, 0, 0.6); */
    background-color: white;
    width: 94%;
    padding-bottom: 12px;
    margin-bottom: 12px;
    align-items: center;
    justify-content: center;
    /* height: 95%; */
}
.passwordsNew .password-title{
    font-weight: bold;
    margin-bottom: 6px;
    margin-top: 12px;
    margin-left: 62px;
}
.newPassword{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 18px;
    width: 60%;
    margin-top: 6px;
    /* margin-left: 32px; */
  }
 
  .newPassword .icon{
    position: absolute;
    top: 57%;
    left: 90%;
    color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
  }
  .newPassword label{
    margin-bottom: 6px;
  }
  .newPassword input{
    padding: 6px;
    border-radius: 4px;
    outline: none;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.4);
    color: rgba(0, 0, 0, 0.7);
  }
  .newPassword input:focus{
    border: 1px solid orange;
    opacity: 0.7;
  }
  .newPassword span{
    display: none;
  }
  .new-password-confirm{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 18px;
    width: 60%;
    margin-top: 6px;
    /* margin-left: 32px; */
  }
 
  .new-password-confirm .icon{
    position: absolute;
    top: 57%;
    left: 90%;
    color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
  }
  .new-password-confirm label{
    margin-bottom: 6px;
  }
  .new-password-confirm input{
    padding: 6px;
    border-radius: 4px;
    outline: none;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.4);
    color: rgba(0, 0, 0, 0.7);
  }
  .new-password-confirm input:focus{
    border: 1px solid orange;
    opacity: 0.7;
  }
  .new-password-confirm span{
    display: none;
  }
  .passwordsNew .submitClass{
    width: 60%;
    padding: 6px;
    background-color: green;
    color: white;
    margin-top: 6px;
    border-radius: 0px;
    border: 1px solid white;
    /* margin-left: 32px; */
  }
  .passwordsNew .submitClass:focus{
    border: none;
    outline: none;
  }

  .profile-loading{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, rgba(30,30,30,0.9), rgba(60,60,60, 0.8), rgba(90,90,90, 0.7));
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn 3s ease-in-out infinte;
    z-index: 20;
  }
  @keyframes fadeIn {
    0%, 100% {
      background: linear-gradient(135deg, rgba(30,30,30, 0.9), rgba(60,60,60, 0.8), rgba(90,90,90, 0.7));
    }
    50% {
      background: linear-gradient(135deg, rgba(30,30,30, 0.5), rgba(60,60,60, 0.4), rgba(90,90,90, 0.3));
    }
  }