
.loadingRoute{
    width: 340px;
    /* height: 340px; */
    height: 615px; 
    display: flex;
     flex-direction: column;
     margin-top: 20px;
     background-color: lightblue;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     opacity: 1;
     }