
.image-view{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    position: relative;
    height: 255px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* overflow-y: scroll; */
    overflow-x: hidden; 
    padding-left: 8px ;
    padding-right: 8px;
    padding-top: 6px;
    padding-bottom: 8px;

}
.general{
    display: flex;
    flex-direction: column;
    width: inherit;
    position: relative;
    height: 300px; 
    
}
.image-view::-webkit-scrollbar{
    display: none; 
}
/* .image-group.one{
    height: 0px;
} */
.imageGroups::-webkit-scrollbar{
    display: none; 
}
.imageGroups{
    height: 90%;
    width: 30.5%;
    overflow: hidden; 
    margin-right: 6px;
    
}
.image-group{
    width: 100%;
     background-color: white; 
     /* overflow-y: scroll; */
    padding-bottom: 12px; 
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    /* object-fit: cover; */
      /* height: 450px;  */
    
}
.imageClass{
    margin-bottom: 5px;
    border-radius: 8px;
    }
    .imageNone{
    margin-bottom: 5px;
    border-radius: 8px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, rgba(30,30,30,0.9), rgba(60,60,60, 0.8), rgba(90,90,90, 0.7));
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn 3s ease-in-out infinte;
    z-index: 20;
  }
  @keyframes fadeIn {
    0%, 100% {
      background: linear-gradient(135deg, rgba(30,30,30, 0.9), rgba(60,60,60, 0.8), rgba(90,90,90, 0.7));
    }
    50% {
      background: linear-gradient(135deg, rgba(30,30,30, 0.5), rgba(60,60,60, 0.4), rgba(90,90,90, 0.3));
    }

 
    }
.image-group.one{
    margin-top: -195px;
}
.image-group.three{
    margin-top: -195px;
}
.image-group.two{
    margin-top: -200px;
}
.display-container{
    width: 90%;
    padding-left:15px;
    padding-right:10px;
    background-color: transparent;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 8;
     margin-left: -10px;
}
.pipe{
    font-size: 20px;
    font-weight: bold;
    color: white;
    animation: blink 1s infinite;
    margin-left: 2px;
}
@keyframes blink {
0% {opacity: 1;}
50% {opacity: 0;}
100% {opacity: 1}
}