
.front-page{
    width: 340px;
    height: auto;
    background-color: transparent;
    position: relative;
    display: flex;
    flex-direction: column;
    
    /* background-image: url('Upload/image1.jpg' );
    object-fit: cover; */
    /* overflow-y: auto;
    overflow-x: hidden;
    background-color: tra; 
    /* margin: 30px; */
    /* -ms-overflow-style: none;  */
     /* -webkit-overflow-scrolling: touch; */
     /* gap: 0.5rem; */
}

/* .front-page.close{
    display: none;
} */
/* .front-page::-webkit-scrollbar{
    display: none;
}  */
/* .category-wrapper{
    overflow-x: scroll;
    overflow-y: scroll;
    width: inherit;
    scroll-behavior: smooth;
} */
.category{
    display: flex;
    overflow-x: auto; 
     /* overflow-y: hidden; */
     scroll-behavior: smooth;
     /* scrollbar-width: none;  */
     -ms-overflow-style: none; 
     -webkit-overflow-scrolling: touch;
     gap: 0.5rem;
    /* margin-left: -2px; */
    /*background-color: yellowgreen; */
    align-items: center;
    padding: 0px 8px;  
    flex-direction: row;
    margin-bottom: -11px;
    z-index: 1; 
    background-color: transparent;
}
.category.All{
    padding-bottom: 16px;
}
.category.view{
    background-color: transparent;
}
.category.hide{
    display: none;
}
.category.YES{
    display: none;
}
.category::-webkit-scrollbar{
    display: none;
}
/* .category span{
    width: 20%;
    height: inherit;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    padding: 12px;
    color: white;
    background-color: transparent;    
} */
 .category span{
    /* min-width: 20%; */
    height: inherit;
    background-color: transparent;
    flex-shrink: 0;
    border-radius: 8px;
    padding: 6px 12px;
    color: white;
    cursor: pointer;
 }
 .category span.chose{
    border-radius: 6px;
 }
 .category .span-class.All{
    margin-bottom: 16px;
 }
 .category.select{
    padding-bottom: 80px;
    padding-top: 16px;
 }
 .small-image{
    width: 70px;
    height: 70px;
    position: absolute;
    display: none;
    border: 2px solid white;
    background-color: green;
    margin-top: 160px;
    border-radius: 5px; 
 }
 .small-image.show{
    display: flex;
 }
.top-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: inherit;
    color: white;
    justify-content: center;
    padding-top: 4px;
    padding-bottom: 12px;
    width: inherit;
    height: 40px;
    cursor: pointer;
    margin-top: 5px;
     margin-bottom: 0px;
    z-index: 20;
    position: relative; 
    /* position: sticky; */
    top: 0; 
    justify-content: space-between;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.top-bar.hide{
    display: none;
}
.top-bar.select{
    background-color: white;
    padding-top: 10px;
    margin-top: -1px;
}
.top-bar.YES{
    margin-bottom: -12px;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);

}
.top-bar span:last-child{
    margin-right: 10px;
    margin-left: 16px;
}
.logo {
    color: rgba(255, 255, 255, 0.8);
    margin-left: 12px;
    margin-top: -3px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.logo.yes{
    color: blue;
}
.logo.select{
    color: blue;
}
.top-bar.yes{
    background-color: white;
    color: black;
     /* transfor: translateY(-6px);  */
}
.span2{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: 30px;
    justify-items: center;
    box-sizing: border-box;
    margin-top: -10px;
}

.span2.loading{
    margin-left: -16px;
    gap: 12px;
}
.span2.yes{
    background-color: white;
}

.span2 span:first-child{
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 6px;
}
.span2.select span:first-child{
    color: rgba(0, 0, 0, 0.5);
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.span2.select span:last-child{
    color: rgba(0, 0, 0, 0.5);
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.span2 span:last-child{
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 6px;
}
.span2 .span3{
    position: absolute;
    background-color: white;
    display: flex;
    left: 18%;
    top: 0;
     width: 22%;
    white-space: nowrap;
    align-items: center;
    justify-content: center;
}
.span2 .span3.yes{
    background-color: white;
    /* display: flex;
     width: 20%;
    white-space: nowrap;
    align-items: center;
    justify-content: center; */
    border: 1px solid rgba(0, 0, 0, 0.5);
}
.span2.loading .span3{
    margin-left: 6.9%;
    width: 20%;
}

.span2 .span3.non{
    margin-right: 20px;

}
.span2 .span4{
    position: absolute;
    display: flex;
    left: 50%;
    top: 0;
     width: 24%;
     overflow: hidden;
    white-space: nowrap;
    align-items: center;
    justify-content: center;
}
.span2 .span4.yes{
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.5);
}
.span2.loading .span4{
    visibility: hidden;
    opacity: 0;
}

.span2 .span5{
    width: 20%; 
    height: 21px;
    left: 55%;
    white-space: nowrap;
    overflow: hidden;
    background-color: white !important;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    box-shadow: none;
}

.span2.loading .span6{
    margin-left: 0px;
}
.span2 .span6.yes{
    width: 34px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.5);
}
.span2 .span6{
    /* background-color: white;   */
    position: absolute; 
    left: 100%;
    height: 21px;
    top: 0;
    width: 34px;
    overflow: hidden;
    white-space: nowrap;
}
.span2 .span6.null{
    background-color: white;
    /* width: 50%; */
    display: flex;
    flex-direction: row;
    gap: 1;   
}
.main-body-home{
    display: flex;
    position: relative;
    flex-direction: column;
    height: auto; 
    margin-bottom: -35px;
    /* min-height: 2000px; */
    margin-top: -5px;
    padding-bottom: 20px;
    overflow: hidden;
    width: 100%;  
} 

.main-body-page{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
    flex-direction: column;
    position: relative;
    height: auto;
}
.indicator{
    width: 70px;
    height: 10px;
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
    z-index: 1;
}
.indicator.hide{
    opacity: 0;
    visibility: hidden;
}
.indicator.close{
    opacity: 0;
    visibility: hidden;
}
.indicator.YES{
    opacity: 0;
    visibility: hidden;
}
.search{
    position: absolute;
    top: 5%;
    left: 50%;
    width: 85%;
    height: 250px;
    transform: translate(-50%, 5%);
    background-color: lightcyan;
    display: none;
    z-index: 10; 
    color: black !important;
}
.search.open{
 display: block;

}
.searchHeading{
    display: flex;
    flex-direction: row;
    width: 97%;
    padding: 4px;
    margin-top: 12px;
    align-items: center;
}
.searchHeading span:last-child{
    left: 80%;
    position: absolute;
    cursor: pointer;
}
.searchHeading span:first-child{
    font-size: 18px;
    margin-left: 6px;
}
.searchIcon{
    font-size: 22px;
    color: rgba(0, 0, 0, 0.7);
    color: red;
}
.searchInput{
    width: 84%;
    padding: 6px;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}
.searchInputWrapper{
    display: flex;
    position: relative;
    margin-top: 8px;
    width: 100%;
    justify-content: center;
}
.searchInputWrapper input:focus{
    border: none;
    outline: none;
    box-shadow: none;
}
.h-image{
   height: 22px !important;
  
}