

.categoryMain{
    display: flex;
    width: 100%;
    background-color: white;
    position: relative;
    margin-top: 0px;
    flex-direction: column;
    padding-left: opx;
     margin-bottom: 12px;
     /* overflow: hidden; */
}
/* .categoryWrapper{
    width: 100%;
    background-color: white;
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    -ms-overflow-style: none; 
    -webkit-overflow-scrolling: touch;
    flex-direction: column;
     
}
.categoryWrapper::-webkit-scrollbar{
    display: none;
}  */

.categoryScroll{
    overflow-x: auto;
    overflow-y: hidden;
    height: 275px;
    background-color: white;
    }
    .categoryScroll::-webkit-scrollbar{
        display: none;
    }  
.categoryRow{
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px;
    display: inline-flex;
    /* flex-direction: row; */
    border: 1px solid #ccc;
    gap: 12px;
    justify-content: center;
}
.categorySpan{
    display: flex;
    flex-direction: column;
    min-width: 215px;
    background-color: white;
    padding: 0px;
    padding-top: 0px;
    overflow: hidden;
    height: 245px;
    border-radius: 12px;
    /* height: 200px; */
}
.categorySpan.show{
    background-color: blue;
    opacity: 0.2;
    z-index: 2;
}
.categorySpan.view{
    /* position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; */
    background: linear-gradient(135deg, rgba(30,30,30,0.9), rgba(60,60,60, 0.8), rgba(90,90,90, 0.7));
    /* display: flex;
    align-items: center;
    justify-content: center; */
    animation: fadeIn 3s ease-in-out infinte;
    z-index: 20;
  }
  @keyframes fadeIn {
    0%, 100% {
      background: linear-gradient(135deg, rgba(30,30,30, 0.9), rgba(60,60,60, 0.8), rgba(90,90,90, 0.7));
    }
    50% {
      background: linear-gradient(135deg, rgba(30,30,30, 0.5), rgba(60,60,60, 0.4), rgba(90,90,90, 0.3));
    }
  }

.nftImage{
   width: 100%;
   min-height: 152px;
   object-fit: cover;
}
.header{
    display: flex;
    flex-direction: row;
    padding: 6px 8px;
    width: 100%;
    /* background-color: skyblue; */
    align-items: center;
    justify-content: space-between;
}
.header span{
    padding: 6px;
    background-color: rgba(0, 0, 0, 0.2);
    margin-right: 16px;
    border-radius: 4px;
}
.header.inner{
    margin-top: -36px;
}
.fetch-top {
  width: 100%;
  height: 200px;
  position: relative;
  background-color: white;
  display: flex;
}
.fetch-page{
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: row;
  padding-bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: inherit;
}

.fetch-page span{
  width: 50%;
  height: 96%;
  animation: fetchGradient 5s infinite ease-in-out;
  margin: 6px;
    /* font-size: 18px;
     font-weight: bold;
     background-color: white;
     padding: 10px 12px;
     border-radius: 4px; */
}
.fetch-page span:first-child{
  animation: showGradient 5s infinite ease-in-out;
}
@keyframes fetchGradient {
  0% {
    background: linear-gradient(to right, rgba(90, 90, 90, 0.8) 0%,
                   rgba(90, 90, 90, 0.6) 50%,
                   rgba(90, 90, 90, 0.4) 100%);
  }
  33% {
    background: linear-gradient(to right, rgba(60, 60, 60, 0.6) 0%,
                   rgba(60, 60, 60, 0.4) 50%,
                   rgba(60, 60, 60, 0.8) 100%);
  }
  66% {
    background: linear-gradient(to right, rgba(30, 30, 30, 0.4) 0%,
                   rgba(30, 30, 30, 0.6) 50%,
                   rgba(30, 30, 30, 0.8) 100%);
  }
  100% {
    background: linear-gradient(to right, rgba(120, 120, 120, 0.7) 0%,
                   rgba(120, 120, 120, 0.4) 50%,
                   rgba(120, 120,120, 0.8) 100%);
  }
}


@keyframes showGradient {
  0% {
    background: linear-gradient(to right, rgba(120, 120, 120, 0.7) 0%,
                   rgba(120, 120, 120, 0.4) 50%,
                   rgba(120, 120,120, 0.8) 100%);
  }
  33% {
    background: linear-gradient(to right, rgba(30, 30, 30, 0.4) 0%,
                   rgba(30, 30, 30, 0.6) 50%,
                   rgba(30, 30, 30, 0.8) 100%);
  }
  66% {
    background: linear-gradient(to right, rgba(90, 90, 90, 0.8) 0%,
                   rgba(90, 90, 90, 0.6) 50%,
                   rgba(90, 90, 90, 0.4) 100%);
  }
  100% {
    background: linear-gradient(to right, rgba(60, 60, 60, 0.6) 0%,
                   rgba(60, 60, 60, 0.4) 50%,
                   rgba(60, 60, 60, 0.8) 100%);
  }
}