
.renderPage{
    width: 340px;
    /* height: 340px; */
    height: 615px; 
    display: flex;
     flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    /* margin-top: 20px; */
    -ms-overflow-style: none; 
     -webkit-overflow-scrolling: touch;
     /* background-color: blueviolet; */
     opacity: 1;
     /* gap: 0.5rem; */
      background-image: url('Upload/image1.jpg');
     object-fit: cover; 
     justify-content: space-between;
}
.renderPage.view{
     /* background-color: blueviolet; */
     background-image: url('Upload/image1.jpg');
     z-index: 20;
}
.renderPage::-webkit-scrollbar{
     display: none; 
}
.renderPage.yes{
     opacity: 0.3;
}
/* .renderPage.show{
     height: 620px;
     overflow: hidden;
} */
.searchBar{
width: inherit;
min-height: 25px;
background-color: white;
padding-top: 2px;
padding-bottom: 2px;
}
.topBar{
 width: inherit;   
 height: 40px;
 top: 0;
 position: sticky;
 z-index: 25;
 margin-bottom: 12px;
}
.alertWrapper{
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     display: flex;
     justify-content: center;
}
.alertWrapper.true{
      height: 40px;
     background-color: white; 
     z-index: 20; 
}