
.categoryTop{
    width: 105%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4px;
    height: auto;
    margin-bottom: 20px;
    padding-bottom: 4px; 
}
.categoryTop.yes{
  width: 200%;
  height: 200px;
  display: flex;
  flex-direction: row;
  padding-bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6px;
  margin-bottom: -10px;
  animation: pulseGradient 5s infinite ease-in-out;
}
@keyframes pulseGradient {
  0% {
    background: linear-gradient(to right, rgba(90, 90, 90, 0.8) 0%,
                   rgba(90, 90, 90, 0.6) 50%,
                   rgba(90, 90, 90, 0.4) 100%);
  }
  50% {
    background: linear-gradient(to right, rgba(60, 60, 60, 0.6) 0%,
                   rgba(60, 60, 60, 0.4) 50%,
                   rgba(60, 60, 60, 0.8) 100%);
  }
  100% {
    background: linear-gradient(to right, rgba(30, 30, 30, 0.4) 0%,
                   rgba(30, 30, 30, 0.6) 50%,
                   rgba(30, 30, 30, 0.8) 100%);
  }
}
.categoryTop.yes span{
     font-size: 18px;
     font-weight: bold;
     background-color: white;
     padding: 10px 12px;
     border-radius: 4px;
}
.categoryTop.hide{
  display: none;
}
.filtered{
    width: 88%;
    padding: 8px;
    height: auto;
    margin-bottom: 0px;
    margin-top: 6px;
    background-color: lavender;
}
.filtered.yes{
    position: relative;
    width: 40%;
    min-height: 100px;
    background-color: rgba(60,60,60, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn 3s ease-in-out infinte;
  }
  @keyframes fadeIn {
    0%, 100% {
      background-color:  rgba(60,60,60, 0.8);
    }
    50% {
      background-color: rgba(30,30,30, 0.5);
    }
}

.filteredImage{
    width: 100%;
    height:  100%;
    object-fit: cover;
    /* background-color: red; */
}
.image-wrappers{
  position: relative;
  display: flex;
  width: 100%;
  background-color: rgba(30,30,30, 0.5);
  height: 150px;
  animation: pulseBackground 3s infinite;
}
@keyframes pulseBackground {
  0% {
    background-color: rgba(30,30,30, 0.5);
  }
  25% {
    background-color: rgba(30,30,30, 0.4);
  }
  25% {
    background-color: rgba(30,30,30, 0.7);
  }
  50% {
    background-color: rgba(30,30,30, 0.4);
  }
  75% {
    background-color: rgba(30,30,30, 0.8);
  }
  100% {
    background-color: rgba(30,30,30, 0.5);
  }
}
 .cat-label{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    height: auto;
    margin-top: 8px;
    padding: 8px;
    gap: 6px;
    margin-left: 10px;
 }
 .cat-label.hide{
display: none;
 }
 .cat-label.conceal {
  display: none;
 }
 .cat-label div{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    
 }
 .cat-label div .labelTitle{
    width: 50%;
    margin-right: 95px;
 }